
body {
  /* background-image: linear-gradient(to right, black, rgb(34, 34, 37)); */
  overflow-x: hidden;
}

h2 {
  color: #e1e1e6;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
}
label {
  color: #e1e1e6;
  margin-bottom: 5px;
}

.btn {
  width: 130px;
}


p {
  font-size: 18px;
  color: #a8a8b3;
}

a:link {
  text-decoration: none;
}
/*contatos*/
.titulo {
  font-size: 40px;
  line-height: 1;
  text-align: center;
}

.recupera-senha {
  color: #38a3a5;
  font-size: 15px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  width: 140px;
  text-align: center;
  margin: 20px;
  border-radius: 30px;
  border: 1px solid #38a3a5;
  color: #38a3a5;
  transition: 1s ease-in-out;
}

.buttonentrar {
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  width: 140px;
  text-align: center;
  margin: 20px;
  border-radius: 30px;
  border: 1px solid #38a3a5;
  color: #000 !important;
  background-color: #38a3a5;
}

.button:hover {
  background-color: #38a3a5;
  color: #000;
  transition: 0.7s ease-out;
}

.form-control {
  display: block;
  background-color: transparent;
  background: transparent;
  color: #38a3a5;
  border-image-source: linear-gradient(to left, #38a3a5, #000);
  border: 10px solid;
  border-radius: 10px;
  border-image-slice: 1;
  border-width: 2px;
}
.form-control {
  font-size: 17px;
}

label {
  font-size: 14px;
}

.footer,
p {
  font-size: 15px;
}
input,
textarea {
  color: #38a3a5 !important;
  background-color: transparent !important;
}

.copyright {
  font-size: 13px;
}

@media (max-width: 1000px) {
  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    width: 120px;
    text-align: center;
    margin: 20px;
    border-radius: 30px;
    border: 1px solid #38a3a5;
    color: #38a3a5;
    transition: 1s ease-in-out;
  }

  .buttonentrar {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    width: 120px;
    text-align: center;
    margin: 20px;
    border-radius: 30px;
    border: 1px solid #38a3a5;
    color: #000 !important;
    background-color: #38a3a5;
  }
}
